<main>
  <div class="card">
    <img class="card-img-top"src="https://picsum.photos/400/200" alt="Product photo" >
    <div class="card-body">
      <h5 class="card-title">Product12345</h5>
      <p>Description</p>
      <a href="#" class="btn btn-primary">Open</a>
    </div>
  </div>

<br>
<br>
<br>

 <div class="card">

    <div class="card-header">
      <div class="display-6">Menu</div>
    </div>

      <ul class="list-group">
        <li class="list-group-item">
          <a href="#" class="btn btn-link">Home page</a>
        </li>
       <li class="list-group-item">
          <a href="#" class="btn btn-link"> Summary page</a>
       </li>
      <li class="list-group-item">
         <a href="#" class="btn btn-link">Skills page</a>
      </li>
     </ul>
<div class="card-footer">
  <button class="btn btn-dark btn-sm">Update list</button>
</div>
</div>

<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>
        #id
      </th>
      <th>
        name
      </th>
      <th>
        age
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th>1
      <td>Nastya</td>
      <td>25</td>
      </td>
    </tr>
     <tr>
      <th>2</td>
      <td>Ivan</td>
      <td>25</td>
      </td>
    </tr>
     <tr>
      <th>3</th>
      <td>Pavlo</td>
      <td>25</td>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<div class="row">

  <div class="col-3">
  <div class="card text-bg-success">
  <div class="card-header text-center">Header</div>
  <div class="card-body text-center">
  <h6 class="card title">This is title</h6>
  <p>This is content</p>
  <button class="btn btn-light">Click</button>
  </div>
  <div class="card-footer text-center">footer</div>
</div>

</div>
<div class="row">
   <div class="col-3">
     <div class="card text-bg-success">
      <div class="card-header text-center">Header</div>
      <div class="card-body text-center">
        <h6 class="card title">This is title</h6>
        <p>This is content</p>
        <button class="btn btn-light">Click</button>
      </div>
      <div class="card-footer text-center">footer</div>
     </div>
   </div>
</div>
<div class="row">
   <div class="col-3">
     <div class="card text-bg-success">
      <div class="card-header text-center">Header</div>
      <div class="card-body text-center">
        <h6 class="card title">This is title</h6>
        <p>This is content</p>
        <button class="btn btn-light">Click</button>
      </div>
      <div class="card-footer text-center">footer</div>
     </div>
   </div>
</div>

<br>
<br>
<br>
<br>


<div class="row g-2">
  <div class="col-12">
       <div class="nav nav-tabs">
        <div class="nav-item">
          
             <a href="/#" class="nav-link active">Main</a>
        
      
      </div>
        <div class="nav-item">
         
          <a href="/#" class="nav-link disables">Catalog</a>
         
        </div>
     
        <div class="nav-item">
           
              <a href="#" class="nav-link">Shop</a>
            
        </div>
  </div>

  <div class="col-4">
    <div class="card">
  <div class="card-body">
    <div class="nav flex-column">
        <div class="nav-item">
          <div class="card">
             <a href="/summary" class="nav-link">Home page</a>
          </div>
      <br>
      </div>
        <div class="nav-item">
          <div class="card">
          <a href="/link" class="nav-link disables">Catalog</a>
          </div>
        </div>
        <br>
        <div class="nav-item">
            <div class="card">
              <a href="#" class="nav-link">Link</a>
            </div>
        </div>
      </div>
  </div>
</div>
</div>

<div class="col-8">
  <div class="row">
    <div class="col-12">
        <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="#">PC</a>
      </li>
      <li class="breadcrumb-item">
        <a href="#">PC</a>
      </li>
    </ol>
    </div>

    <div class="col-12">
      <button class="btn btn-primary m-3">Click me</button>
     <div class="alert alert-dark">
          <h6>Hello world <span class="badge text-bg-primary rounded-pill">NEW</span></h6>
      </div>
    </div>
  </div>
</div>

</div>




</main>
